* {
    margin: 0;
    padding: 0;
}


header,
footer {
    background-color: #1A1C22;
    height: 100px;
    width: 100%;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
}

header {
    position: fixed;
    left: 0;
    top: 0;
}

.main {
    min-height: 400px;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 115px;
    padding-bottom: 100px;
}

.aside {
    background-color: #6C757D;
    min-height: 400px;
    margin-bottom: 15px;
}

.articles {
    min-height: 400px;
    display: flex;
    flex-direction: column;
}

.article {
    background-color: #343A40;
    flex: 1;
    margin-bottom: 15px;
}



/* media queries */

@media(min-width: 600px) {
    .articles {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 15px;
        margin-bottom: 15px;
    }

    .article {
        margin: 0;
    }
}

@media(min-width: 900px) {
    .main {
        display: grid;
        grid-template-columns: 400px auto;
        grid-template-rows: 100%;
        grid-gap: 15px;
        height: 100vh;
    }
}

@media(min-width: 1200px) {
    .articles {
        grid-template-columns: repeat(3, 1fr);
        margin-bottom: 15px;
    }
}